* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.jar binary
*.zip binary
*.gz binary
*.tgz binary
*.woff binary
*.woff2 binary

mvnw text eol=lf
*.sh text eol=lf
